
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1380px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
    color: #000000;
}

nav img{
    margin-top: 5px;
}

nav ul a{
    text-decoration: none;
}

.btn{
    width: 164px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: none;
    font-weight:bold;

}

.hero{
    text-align: center;
    background-image: url("./assets/hero-bg.png");
    height: 600px;
  
}

.hero-container{
    padding-top: 115px;
}

.hero-container .pill{
    margin: 0 auto;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    color: #30B868;
    background-color: white;
}
.hero-container h3{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
#green{
    color:#30B868 ;
}

.hero-container p{
    padding-top: 5px;
    font-size: 18px;
    color: white;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 60px;
    
    
}

.hero-btn .btn-a{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: none;
    font-weight:bold;
    
   
}
.hero-btn .btn-b{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    background: none;
    color: white;
    
    
    font-weight:bold;

    


   
}



