
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1380px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
    color: #000000;
}

nav img{
    margin-top: 5px;
}

nav ul a{
    text-decoration: none;
}

.btn{
    width: 164px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: none;
    font-weight:bold;
    

}

.btn:hover{
    cursor: pointer;

}

.hero{
    text-align: center;
    background-image: url("./assets/hero-bg.png");
    height: 600px;
  
}

.hero-container{
    padding-top: 115px;
}

.hero-container .pill{
    margin: 0 auto;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    color: #30B868;
    background-color: white;
}
.hero-container h3{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
#green{
    color:#30B868 ;
}

.pill:hover{
    cursor: pointer;
}

.hero-container p{
    padding-top: 5px;
    font-size: 18px;
    color: white;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 60px;
    
    
}

.hero-btn .btn-a{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: none;
    font-weight:bold;
  
    
   
}


.hero-btn .btn-a:hover{
    cursor: pointer;
}


.hero-btn .btn-b{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    background: none;
    color: white;
    
    
    font-weight:bold;
   
}

.hero-btn .btn-b:hover{
    cursor: pointer;
}

.structure{
    margin-top: 20px;
}
.structure .tittle{
    text-align: center;
}

.structure .tittle h4{
    font-size: 30px;
            
}

/* .structure .tittle p{
   font-size: 15px;
} */

.all-card-box{
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}

.all-card-box .card{
    
    height: 200px;
    padding-top: 60px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    
    
}

.all-card-box .card h6{
    font-size: 15px;
}
.all-card-box .card p{
    font-size:12px ;
}

.all-card-box .card img{
    background-color: #F95555;
    border-radius: 100px;
}

.brain-container{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brain-container h4{
    font-size: 40px;
}

#brain-p{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.message-brain .right{
    gap: 5px;
}

.clr{
   color: #30B868;
}

.clearly{
    text-align: center;
    background-color: #f7f5ee;
    border-radius: 20px;
}

.clearly .clearly-text{
    padding-top: 100px;
    padding-bottom: 50px;
}

.clearly .clearly-text h3 {
    font-size: 30px;
    font-weight: bold;
}

.clearly .clearly-text p{
    font-size: 13px;
    color: var(--#627382, rgba(98, 115, 130, 1));
}

.clearly .clearly-text button{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: none;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}
.clearly .clearly-text button a{
    text-decoration: none;
    color: white;
}

.foot{
    background-color: var(--Style, rgba(0, 25, 49, 1));
    margin-top: 100px;
}

.foot-container{
    padding-top: 120px;
}

.foot-container .content{
    display: flex;
    justify-content: space-between;
}

.social{
    font-size: larger;
    color: white;
}

.hr-foot{
    padding-top: 100px;
}

.hr-foot h6{
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.social i{
    
}

#id{
    text-decoration: none;
    color: white;
}